* {
    margin: 0;
    padding: 20;
    box-sizing: border-box;
    background: url(/background-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: 'Montserrat', sans-serif;
    --light-color: #6ecce4;
    --dark-color: rgb(19,29,147);
}

.main-button-container {
    background: var(--light-color);
    width: 100%;
    text-align: center;
    display:inline-block;
}

.main-button {
    background: var(--light-color);
    color: var(--dark-color);
    width: 150px;
    height: 60px;
    border-radius: 0px;
    border: none;
    font-size: 16pt;
    font-weight: 700;
    margin-top: 0px;
    margin-left: 60px;
}

.page-button {
    background: var(--light-color);
    color: var(--dark-color);
    border-radius: 5px;
    border: none;
    font-size: 12pt;
    font-weight: 500;
}

.main-button:active {
    background: #2084D1;
}

p {
    background: #f7ece3;
    color: var(--dark-color);
    font-size: 14pt;
    font-weight: 500;
    height: 800px;
    margin-left: 170px;
    margin-right: 170px;
    padding: 40px;
}
